   .css-qri22k{
                    visibility:hidden;
                    padding:-17.5rem 1rem;
                    height: 10px;

                }
                .css-18e3th9{
                    margin-top: -100px;
                    margin-left: -187px;
                    overflow:hidden;
                    }


                .css-1qaq3qt{
                    width:100%;
                    align-items: center;
                    justify-content: center;
                }

               .css-1vq4p4l{
                margin-top: -79px;

                margin-left: -10px;
                margin-right: -10px;
               }
               .css-163ttbj{
                width:18% !important;
               }
               .css-1cc1g65{
                gap:0px;
               }
               .css-f6bu01{
                gap:-1rem;
               }
               .css-ocqkz7{
                gap:15px;
                margin-top: 10px;
                margin-left: 10px;
               }
               .css-12w0qpk{
                    margin-left: 16px;
               }

               .css-1g7xoqr{

                    margin-block-start: -1.4%;
               }
                .css-1a32fsj{
                    margin-block-start: -1.4%;
                    margin-bottom: -38px;
                }
                .css-1gugvky{
                    margin-inline: -4%;
               }
               .css-ocqkz-e1tzin5v4{
                margin-inline-start: 35%;
                margin-block-end: -2.7%;
            margin-block-start: -4.5%;

                }
                .css-pmxsec.exg6vvm0{
                    margin-top:-10px;
                }
                .css-zakn0l{
                      margin-top: -2px;
                }
                .css-u5r6vw{
                    padding-top: 1.5rem;

                    margin-top: -10px;
                }

                .css-u5r6vw.e16nr0p34 {
                    margin-top:-16px;
                    margin-bottom:1px;
                }
                .stAudio{
                    margin-top:-18px;
                    margin-bottom: -20px;

                }
                .row-widget.stCheckbox{
                    margin-top:10px;
                }
                canvas.marks {
                    max-width: 100%!important;
                    height: auto!important;
            }
                .css-af4qln h1{
                    font-size:30px;
            }
                .css-af4qln h1{
                    margin-bottom: -10px;
                }
                .css-1p46ort{
                    margin-bottom: -0.5rem;
                }
                .css-1v5hvio{
                    padding:0.1em;
                }
                audio{
                    margin-top:-24px;
                    width:100%;
                }
                .css-1ywmfj8{
                    gap:2.1rem;
                }
                
                .css-18e3th9{
                        margin-top: -100px;
    margin-left: -71px;
                }
                div.stButton{
                    margin-left:50%;
                    margin-top:-15px;
                }